doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title UNICEF
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link#bootstrap-css(href='//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css', rel='stylesheet')

  body


    section
      .container
        .row
          .col-xs-12
            .form-wrap
              h1 Welcome to UNICEF
              h2 Please fill in the information below and you'll have one hour of access. 
              h3 We hope this gives you the information you need to be safe and continue your journey in a peaceful way.
              br
              br

              form(name='survey', method='post', action=__(getLocale())).form.col-md-12.center-block
                .form-group
                  label(for='twitter') Twitter
                  input#twitter.form-control(type='text', name='twitter', placeholder='@desperate_hungry_person')
                .form-group
                  label(for='number_of_children') How many children under 19 are you traveling with?
                  select#number_of_children.form-control(name='number_of_children')
                    option 0
                    option 1
                    option 2
                    option 3
                    option 4
                    option 5
                    option 6
                    option 7
                    option 8

                input#btn-login.btn.btn-custom.btn-lg.btn-block(type='submit', value='Log in')

              hr



    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-67952316-1', 'auto');
      ga('send', 'pageview');


          // /.col-xs-12
        // /.row
      // /.container

 
